* {
    -fx-font-family: Segoe UI Semibold;
}

.Button {
    -fx-font-size: 16;
    -fx-font-weight: bold;
    -fx-background-color: #37da7e;
    -fx-text-fill: white;
    -fx-cursor: hand;
    -fx-transition: background-color 0.5s;
}
.Button:hover {
    -fx-background-color: #62da97;
}

.textField {
    -fx-pref-width: 256;
    -fx-pref-height: 30;
    -fx-font-size: 14;
    
    -fx-background-color: #fafafa;
    -fx-border-color: silver;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.panel {
    -fx-background-color: #3ca0d0;
}

#regButt {
    -fx-background-color: #778899;
    -fx-transition: background-color 0.3s;
}
#regButt:hover {
    -fx-background-color: #62da97;
}

#BackButton {
    -fx-background-color:  #086fa1;
    -fx-border-color: silver;
    -fx-border-radius: 25;
}
#BackButton :hover {}